<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskbarCPUMeter.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TaskbarCPUMeter.Config>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowPercentage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RotateViews" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RotateViewsInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DefaultMode" serializeAs="String">
                <value>CPU Statistics</value>
            </setting>
        </TaskbarCPUMeter.Config>
    </userSettings>
</configuration>